// conf/aws.config

params {
    config_profile_name        = 'aws'
    config_profile_description = 'AWS Batch - reproducibility validation profile'

    max_cpus   = 96
    max_memory = '768.GB'
    max_time   = '48.h'
}

process {
    executor = 'awsbatch'
    queue    = System.getenv('AWS_BATCH_QUEUE_CPU')

    withLabel: process_gpu {
        queue = System.getenv('AWS_BATCH_QUEUE_GPU')
    }
}

aws {
    region  = System.getenv('AWS_REGION') ?: 'eu-central-1'
    batch {
        cliPath = '/home/ec2-user/miniconda/bin/aws'
        maxParallelTransfers = 8
        maxTransferAttempts  = 3
    }
}

docker.enabled = true
