// conf/base.config
// Process resource defaults. Adjustable per profile.

process {

    cpus   = { check_max( 1     * task.attempt, 'cpus'    ) }
    memory = { check_max( 6.GB  * task.attempt, 'memory'  ) }
    time   = { check_max( 4.h   * task.attempt, 'time'    ) }

    errorStrategy = { task.exitStatus in [104,134,137,139,143,247] ? 'retry' : 'finish' }
    maxRetries    = 2
    maxErrors     = '-1'

    withLabel: process_single {
        cpus   = { check_max( 1,                   'cpus'   ) }
        memory = { check_max( 4.GB * task.attempt, 'memory' ) }
        time   = { check_max( 2.h  * task.attempt, 'time'   ) }
    }
    withLabel: process_low {
        cpus   = { check_max( 2     * task.attempt, 'cpus'   ) }
        memory = { check_max( 8.GB  * task.attempt, 'memory' ) }
        time   = { check_max( 4.h   * task.attempt, 'time'   ) }
    }
    withLabel: process_medium {
        cpus   = { check_max( 8     * task.attempt, 'cpus'   ) }
        memory = { check_max( 32.GB * task.attempt, 'memory' ) }
        time   = { check_max( 8.h   * task.attempt, 'time'   ) }
    }
    withLabel: process_high {
        cpus   = { check_max( 16    * task.attempt, 'cpus'   ) }
        memory = { check_max( 64.GB * task.attempt, 'memory' ) }
        time   = { check_max( 16.h  * task.attempt, 'time'   ) }
    }
    withLabel: process_high_memory {
        cpus   = { check_max( 16    * task.attempt, 'cpus'   ) }
        memory = { check_max( 192.GB * task.attempt, 'memory' ) }
        time   = { check_max( 24.h  * task.attempt, 'time'   ) }
    }
    withLabel: process_gpu {
        cpus       = { check_max( 8     * task.attempt, 'cpus'   ) }
        memory     = { check_max( 64.GB * task.attempt, 'memory' ) }
        time       = { check_max( 12.h  * task.attempt, 'time'   ) }
        accelerator = [request: 1, type: 'nvidia']
    }
    withLabel: process_benchmark {
        cpus       = 64
        memory     = 256.GB
        time       = 24.h
    }
}
