// conf/local.config

params {
    config_profile_name        = 'local'
    config_profile_description = 'Single workstation - for development and small datasets'
    max_cpus   = Runtime.runtime.availableProcessors()
    max_memory = '64.GB'
    max_time   = '48.h'
}

process {
    executor = 'local'
}

singularity {
    enabled    = true
    autoMounts = true
    cacheDir   = "${System.getenv('HOME')}/.singularity_cache"
}
