// conf/slurm.config
//
// KazHPC (L.N. Gumilyov Eurasian National University) SLURM profile.
// Tested against Slurm 23.02.7 with Singularity 3.11.4.

params {
    config_profile_name        = 'slurm'
    config_profile_description = 'KazHPC SLURM cluster - CPU + GPU partitions'

    max_cpus   = 64
    max_memory = '512.GB'
    max_time   = '72.h'

    slurm_account   = System.getenv('SLURM_ACCOUNT')   ?: 'kazrna'
    slurm_partition_cpu = 'cpu'
    slurm_partition_gpu = 'gpu'
}

process {
    executor       = 'slurm'
    queue          = params.slurm_partition_cpu
    clusterOptions = { "--account=${params.slurm_account}" }

    withLabel: process_gpu {
        queue          = params.slurm_partition_gpu
        clusterOptions = { "--account=${params.slurm_account} --gres=gpu:a100:1" }
    }
    withLabel: process_benchmark {
        queue          = params.slurm_partition_gpu
        clusterOptions = { "--account=${params.slurm_account} --exclusive --gres=gpu:a100:4" }
    }
}

singularity {
    enabled    = true
    autoMounts = true
    cacheDir   = '/scratch/${USER}/singularity_cache'
    runOptions = '--nv --cleanenv'
}

executor {
    queueSize       = 50
    submitRateLimit = '10 sec'
}
